---
---
{% include header.html %}
<div>
    <p>
        <img src="assets/img/programmer.jpg" alt="درباره ی ما تیم برنامه نویسی" >
    </p>
    ما یک تیم برنامه نویسی جوان هستیم که هدف ما تولید محصولات با کیفیت در صنعت نرم افزاری ایران است
    <br>
    همچنین هدف دیگر ما پرورش استعدادهای برنامه نویسی در ایران میباشد 
    <br>
    خدمات ما شامل برنامه نویسی وب ، برنامه نویسی موبایل ، امنیت وب ، راه اندازی کسب و کارهای اینترنتی 
    مشاوره در حوزه ی استارتاپ ها ، تدریس با کیفیت برنامه نویسی و ... می باشد 
    <br>
</div>
{% include footer.html %}
