---
---
{% include header.html %}
<div class="notification">
    در لیست زیر بخشی از خدماتی که مجموعه ی ما در وب سایت 55z ارائه میشود را مشاهده میفرمایید :‌
<br>
جهت برآورد هزینه ی هرکدام از خدمات زیر از قسمت ارتباط با ما میتوانید با ما تماس بگیرید
</div>
<div class="roadmap-category" onclick="toggleLanguages('web-designing')">
    <h2>خدمات برنامه نویسی وب ✅</h2>
  </div>
  <div id="web-designing" class="roadmap-languages">
    <ul>
      <li>طراحی فروشگاه اینترنتی اختصاصی </li>
      <li>برنامه نویسی سیستم های اختصاصی</li>
      <li>قبول حل مشکلات امنیتی وب سایت ها </li>
      <li>ساخت وب سایت های شرکتی یا شخصی </li>
    </ul>
  </div>

<div class="roadmap-category" onclick="toggleLanguages('teach')">
<h2> تدریس برنامه نویسی ✅ </h2>
</div>
<div id="teach" class="roadmap-languages">
<ul>
    <li> تدریس خصوصی برنامه نویسی بصورت غیرحضوری</li>
    <li>کلاس های پیشرفته برنامه نویسی غیرحضوری</li>
    <li> آموزش بازیسازی</li>
    <li> آموزش امنیت وب و شبکه </li>
</ul>
</div>

<div class="roadmap-category" onclick="toggleLanguages('mobile-app-development')">
    <h2> برنامه نویسی موبایل ✅  </h2>
    </div>
    <div id="mobile-app-development" class="roadmap-languages">
    <ul>
        <li> برنامه نویسی اختصاصی اپلیکیشن های موبایلی</li>
        <li>انتشار اپلیکیشن ها در مارکت های موبایلی </li>
        <li>برنامه نویسی اپ فروشگاهی</li>
        <li>اتصال وب سایت شما به اپلیکیشن فروشگاهی</li>
    </ul>
    </div>

{% include footer.html %}
