<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> رودمپ برنامه نویسی </title>

    <link rel="stylesheet" href="{{ '/assets/css/app.css?v=1' | relative_url }}">
</head>

<body>
    <header>
        <h1>55z - پلتفرم آموزش برنامه نویسی 👩🏻‍💻🌎🌐 </h1>
    </header>

    <nav>
        <button class="menu-toggle">☰ منو</button>
        <ul class="menu">
            <li><a href="https://55z.ir">صفحه اصلی</a></li>
            <li><a href="https://55z.ir/about.html">درباره ما</a></li>
            <li><a href="https://55z.ir/services.html">خدمات</a></li>
            <li><a href="https://55z.ir/products.html">محصولات</a></li>
            <li><a href="https://55z.ir/contact.html">تماس با ما</a></li>
        </ul>
    </nav>

    <main>
        <div class="content-place">
            <div class="article">

                <!-- slider  -->
                <div class="slider-container">
                    <div class="slider">
                        <!-- Slide 1 -->
                        <div class="slide">
                            <img src="/assets/img/slide01.jpg" alt="Slide 1">
                        </div>
                        <!-- Slide 2 -->
                        <div class="slide">
                            <img src="/assets/img/slide02.jpg" alt="Slide 2">
                        </div>
                        <!-- Slide 3 -->
                        <div class="slide">
                            <img src="/assets/img/slide03.png" alt="Slide 3">
                        </div>
                        <!-- Add more slides as needed -->
                    </div>

                    <!-- Navigation Arrows -->
                    <div class="arrow prev">&#10094;</div>
                    <div class="arrow next">&#10095;</div>

                    <!-- Dots Navigation -->
                    <div class="dots">
                        <div class="dot active"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <!-- Add more dots to match slides -->
                    </div>
                </div>
                <!-- end slider -->
            </div>
        </div>
        <div class="content-place">
            <div class="article">