
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> رودمپ برنامه نویسی </title>
  
    <link rel="stylesheet" href="{{ '/assets/css/app.css?v=1' | relative_url }}">
</head>
<body>
        <header>
        <h1>رودمپ فارسی برنامه نویسی  👩🏻‍💻🌎🌐 </h1>
    </header>
    
    <nav>
        <button class="menu-toggle">☰ منو</button>
        <ul class="menu">
            <li><a href="https://55z.ir">صفحه اصلی</a></li>
            <li><a href="https://55z.ir/about.html">درباره ما</a></li>
            <li><a href="https://55z.ir/services.html">خدمات</a></li>
            <li><a href="https://55z.ir/products.html">محصولات</a></li>
            <li><a href="https://55z.ir/contact.html">تماس با ما</a></li>
        </ul>
    </nav>
    
    <main>
                <div class="content-place">
           <div class="article">
               به وب سایت 55z خوش اومدید
           </div>
                </div>
        <div class="content-place">
           <div class="article">
